body {
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px; */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.Site-Header {
    background-color: #1F2937;
    color: white;
    padding: 64px 128px;
    /* padding-top: 0; */
    display: flex;
    gap: 48px;
    justify-content: center;
    align-content: center;
    font-size: 48px;
}

.Main-Section {
    display: flex;
    justify-content: space-around;
    flex: 1;
    /* padding: 0px 128px 64px 128px; */
    padding: 20px;
    background-color: #1F2937;
}

.Grid {
    height: 700px;
    width: 700px;
    border: 1px solid #101214;
    background-color: white;
}

.Controls {
    display: flex;
    justify-content: center;
    color: white;
    height: 600px;
    width: 600px;
    font-size: 24px;
}

.Footer {
    text-align: center;
    justify-self: flex-end;
    background-color: darkslategrey;
}

/* add a square style rule to make the border visible, for testing purposes */

